
<p>あなたのレベル	<td><%= @plus - @minus %> </td></p>
<h3>10月1日〜10月31日まで</h3>
<p>	<td>成功！<%= @plus%> </td></p>
<p><td>失敗！<%= @minus%> </td></p>
<p><td>使わなかった金額<%= -@fin%> </td></p>
<p><td>使う予定だった金額<%= @total%> </td></p>
<p><td>実際に使った金額<%= @cost%> </td></p>

<% @posts.each do |post| %>
	<tr>
		<td><%= post.total %></td>
    <td><% post.task %></td>

	<tr>

  <% unless post.completed %>
  <td><a href="/posts/<%= post.id %>/edit">編集</a></td>
  <% else %>
  Done !
  <% end %>


<% end %>
